<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{nome}} </p>
  <p>Parece que você solicitou um e-mail para trocar sua senha.</p>
  <p>Essa ação poderá ser efetuada no seguinte link: </p>
  <p><a href={{link}}>Troca de senha</a></p>

  <p>Atenciosamente <br/> <strong>Equipe GoBarber</strong></p>
  <img src="../../../../../../tmp/ee860093b1cc1a67ffa1-Primeiros-passos-Node.png" alt="Test Img">
</div>
